<td class="comments-template" colspan="4">
  <div class="comments">
      <div class="comments-text">
        <b>Researcher's Comment and Citation Supporting the Response</b>
      </div>
      <p>{{comments}}</p>
  </div>
</td>