.rounded-corners (@radius: 3px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

.document-availability h2 {
  font-family: "Roboto Condensed", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 32px;
  margin: 0;
  padding: 5px 0 20px 10px;
}
.document-availability .availability-information {
  margin-bottom: 22px;
  margin-right: 10px; 
  margin-left: 10px;
  font-size: 16px;
}
.document-availability #region {
  margin: 30px 0;
}

.document-availability #region h6 {
  line-height: 15px;
  vertical-align: bottom;
  font-size: 14px;
  border-bottom: 1px solid #ccc;
  margin: 6px 0 4px 0;
  padding: 0 5px 2px 5px;
  font-weight: normal;
  a {
    display: inline-block;
    width: 100%;
    height: 30px;
    padding-top: 10px;
  }
}

#av-region-toggler {
  margin-left: 3px;
  list-style-type: none;
  li {
    line-height: 13px;
    font-size: 14px;
    a {
      display: block;
      padding: 12px 10px 10px 10px;
      margin-bottom: 1px;
      min-height: 18px;
      &:hover {
        background: #fff;
        text-decoration: none;
        color: #0088CC;
      }
      &.active, &.active:hover {
        text-decoration: none;
        background: #0088CC;
        color: #fff;
      }
    }
  }
}

#availability-key {
	width: 100%;
	font-size: 11px;
	line-height: 12px;
	border: 1px solid #999;
	th {
		background: #999;
		color: #fff;
		font-weight: bold;
		text-align: center;
		padding: 4px 0;
	}
	td.dot {
		text-align: center;
		width: 22px;
	}
}

.doc-help{
  font-size: 12px;
  line-height: 20px;
  margin-top: 15px;
} 

#availability {
    width: 100%;
    table-layout: fixed;
    td {
      height: 31px;
    }
    td.score {
      border-right: 1px solid #ccc;
      border-left: 1px solid #ccc;
    }
    thead {
      height:56px;
        td {
            font-size: 12px;
            line-height: 12px;
            text-align: center;
            vertical-align: middle;
            padding-top:10px;
            padding-bottom:10px;
            border-bottom: 1px solid #ccc;
            &.flag {
                padding: 0 10px;
            }
        }
      }
    tbody {
        td {
            text-align: center;
            vertical-align: middle;
            &.country {
                font-size: 12px;
                text-align: right;
                a {
                    color: #000;
                    padding: 12px 0;
                }
            }
            &.flag {
                padding: 0 10px 0 0;
                vertical-align: middle;
                a {
                  padding: 12px 5px;
                }
            }
        }
    }
}

#header-fixed {
    position: fixed;
    top: 0px;
    display: none;
    background-color: white;
    width: 100%;
    table-layout: fixed;
    td {
      height: 31px;
    }
    thead {
      height:56px;
        td {
            font-size: 12px;
            line-height: 12px;
            text-align: center;
            vertical-align: middle;
            padding-top:10px;
            padding-bottom:10px;
            border-bottom: 1px solid #ccc;
            &.flag {
                padding: 0 10px;
            }
        }
    }
}