/* Bootstrap hack */
.badge-success {
  background: #54A954 !important;
}

.surveys-information {
  margin-bottom: 22px;
  margin-right: 10px; 
  margin-left: 10px;
  font-size: 16px;
}

#datasheet-toggles {
  .btn {
    width: 50%;
    font-size: 14px;
  }
}

div.country-nav-select-outer {
  margin: 10px 0 0 10px;
  h4 {
    vertical-align: middle;
  }
  h3 {
    font-family: "Roboto Condensed", Arial, sans-serif;
    text-transform: uppercase;
  }
  .chzn-container a span, .chzn-single {
    height: 40px;
  }
  .chzn-container a span {
    padding-top: 10px;
  }
  .chzn-container a b {
    background-position: 0 5px;
  }
  input, li {
    height: 40px;
  }
}

div#country-profile {
  margin: 0 10px;
  border-top: 1px solid #999;
  .main-website-link {
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 11px;
  }
  h2 {
    padding-bottom: 4px;
  }
  h3 {
    font-family: "Roboto Condensed", Arial, sans-serif;
    text-transform: uppercase;
  }
  .percentages {
    .year {
      text-align: right;
    }
    .score {
      width: 80px;
      padding: 0 10px;
      text-align: center;
      font-weight: bold;
    }
    .bar {
      width: 800px;
      .percentbar {
        width: 100%;
        line-height: 10px;
      }
    }
  }
  .details {
    float: left;
    width: 100%;
    table {
      margin-top: 0;
      width: 100%;
      display: block;
      tr {
        height: 49px;
        width: 100%;
        th {
          text-align: center;
          border-bottom: 1px solid #ccc;
          &.space {
            background: #fff;
            border-color: transparent;
          }
        }
        * {
          border:none;
        }
        td.number {
          background: #eee;
          text-align: right;
          font-weight: bold;
          vertical-align: middle;
        }
        td.letter {
          vertical-align: middle;
          text-align: center;
          &.multi {
            background: lighten(#54A954,44%);
            padding-top: 4px;
            img {
              cursor: pointer;
              padding: 8px;
            }
            img.inactive {
              opacity: 0.3;
              &:hover {
              opacity: 0.7;
              }
            }
            img.active {
              border: 1px solid #555;
              background: #fff;
            }
          }
        }
        td.space {
          width: 8px;
        }
      }
      tr.hover, tr.active {
        td.number {
          background: #ddd;
        }
        td.space,
        td.letter {
          background: #eee;
          &.multi {
            background: lighten(#54A954,40%);
          }
        }
      }
    }
  }
  .question-box {
    display: none;
    position: absolute;
    background: #eee;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    .question-text {
      background: #ddd;
      padding: 8px;
    }
  }
}
div#profile-mode {
  border: 1px solid #000;
  border-left: none;
  border-right: none;
  margin: 10px 0 15px 0;
  padding: 10px 0;
  position: relative;
  .explanation {
    font-size: 13px;
    line-height: 18px;
    margin: 15px 0 0 0;
  }
  #profile-toggle {
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 11px;
  }
  .scores {
    font-weight: normal;
    .year-box {
      padding: 8px;
      width: 60px;
      padding-bottom: 5px;
      float: left;
      border: 1px solid #999;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      text-align: center;
      margin-right: 6px;
      margin-top: 6px;
      span {
        display: block;
      }
      .top {
        font-size: 20px;
        padding-bottom: 4px;
        font-weight: normal;
      }
      .bottom {
        font-size: 12px;
      }
    }
  }
  #scores-fixed {
    position: fixed;
    top: 0px;
    display: none;
    background-color: white;
    z-index: 1000;
    padding-top: 10px;
    padding-bottom: 16px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    .year-2017 {
      margin-left: 50px;
    }
    .year-2015 {
      margin-left: 30px;
    }
  }
}
